body {

    font-family: 'Quattrocento Sans', sans-serif;
    background-image: url("http://www.insidehighered.com/sites/default/server_files/media/iStock-520374378.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    
}

a {
     font-family: verdana;
    font-size: 15px;
    
}

.lomake {
    border-style: groove;
    background-color: rgba(64, 191, 200, 0.9);
    margin-left: 300px;
    margin-right: 300px;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;

}

@media(max-width:800px) {
    .lomake {
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        min-width: 300px;
    }
}

input[type=button] {
    background-color: darkorange;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 15px;
}

button {
    background-color: darkorange;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 15px;
}

label [name=naama],
input.na {
    display: none;
}

i {
    font-size: 36px;
    color: aliceblue;
}
